*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.header__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    height: 113px;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
}
nav a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
.header__w-1153 h2{
    color: #E5E5E5;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
}
/*------------------section__one-posotion--------------------------*/
.one-position{
    height: 692px;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one-position__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.one-position__w-1153 .button-posotion{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    border: none;
}
.one-position__w-1153 h1{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
}
.one-position__w-1153 p{
    width: 570px;
    height: 85px;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.one-position__w-1153 .button-about{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.one-position__w-1153 div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.one-position__w-1153 div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-content: center;
}

.one-position__w-1153 div:nth-child(2) img {
    height: 318px;
    width: auto;
    object-fit: contain;
}
/*-------------------------section-lorem-ipsum---------------------------*/
.lorem-ipsum{
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
}
.lorem-w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.icon div:nth-child(1){
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons>div:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.icons>div:nth-child(2) div:nth-child(1){
    background: #FF537C;
}

.icons>div:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}

.icons>div:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}

.icons>div:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}
.icon div:nth-child(2) p{
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.icon div:nth-child(2) h4{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.lorem-w-1153 h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin: 50px 0;
}
.lorem-w-1153 p{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.card{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 26px;
}
.card p{
    width: 178px;
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
iframe{
    width: 100%;
    height: 664px;
    background: lightgray 50% / cover no-repeat;
}
footer{
    width: 100%;
    height: 94px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    width: 96px;
    height: 24.039px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%;
}